@import 'components/mf-square';
@import 'components/minesweeper-game';

html,
body {
  padding: 1rem;
  box-sizing: border-box;
  font-family: monospace;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.ember-view {
  height: 100%;
}
