<p class="mt4">
  Start a new game:
</p>
<a href="#" class="f6 link dim ba bw2 ph3 pv2 mb2 dib black" {{action startNewGame 'easy' 10}} data-test-new-game>
  ✅
  easy game (10 x 10)
  ✅
</a>

<a href="#" class="f6 link dim ba bw2 ph3 pv2 mb2 dib dark-green" {{action startNewGame 'medium' 15}} data-test-new-game>
  ✨
  medium game (15 x 15)
  ✨
</a>

<a href="#" class="f6 link dim ba bw2 ph3 pv2 mb2 dib dark-pink" {{action startNewGame 'hard' 20}} data-test-new-game>
  ⚠️
  hard game (20 x 20)
  ⚠️
</a>

<a href="#" class="f6 link dim ba bw2 ph3 pv2 mb2 dib hot-pink" {{action startNewGame 'brutal' 25}} data-test-new-game>
  ☢️
  brutal game (25 x 25)
  ☢️
</a>