<div data-test-minefield-row>
  <div style="
    display:flex;
    align-items: stretch;
  ">
  <div style='flex: 1;'>
    {{minesLeft}}
  </div>

  <div onclick={{action 'resetGame'}} align='center' style='
  cursor: pointer;
  flex: 1;'>
    😬
  </div>

  <div align='right' style='flex: 1;'>
    {{timeSpent}}
  </div>

  </div>
  {{#each game.minefield as |minefieldRow|}}
    <div style="
      display:flex;
      align-items: stretch;
    ">
      {{#each minefieldRow as |square|}}
        {{mf-square square=square}}
      {{/each}}
    </div>
  {{/each}}
</div>
